/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: black;
    background-color: deepskyblue;
}

/* HEADER */

header{
    margin-bottom: 3rem;
    padding: 1rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

/* LIST */

ul {
    max-width: 500px;
    margin: 0 auto 3rem;
    padding: 0 1rem;
}

ul li {
    list-style: none;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgba(76, 19, 168, 0.795);
}